		<div id="fixed_top_box">
			<div id="fixed_top">
				<header>
					<div>
						<img src="img/cai_head.png"/>
					</div>
					<div class="img01">
						<img src="img/logo_head.png"/>
					</div>
					<div class="img02">
						<img src="img/tv_head.png"/>
					</div>
				</header>
				<nav id = "nav" ng-controller="navCtrl">
					<div id="a_box">
						<!--<li ng-repeat="mesg in mesgs" ng-click='fnck($event)'><a>{{mesg.name}}</a></li>-->
						<!--组件应用,导航部分-->
						<navs ></navs>
						<!--组件应用，导航部分-->
					</div>
				</nav>
			</div>
		</div>
<div id="hours">
	<span>{{mesgs[0].newstime|date:'MM-dd'}}</span>
	<ul>
		<li ng-repeat='mesg in mesgs'>
			<div class="borders">
				<p>
					{{mesg.shorttitle}}
					<span></span>
					<span>{{mesg.newstime|date:'HH:mm'}}</span>
				</p>
				<p>
					国米4000万欧求购葡萄牙国脚国米4000万欧求购葡萄牙国脚国米4000万欧求购葡萄牙国脚国米4000万欧求购葡萄牙国脚
				</p>
				<p ng-if="mesg.img" class="youTu">
					<img  ng-src="{{mesg.img[0].imgurl}}"/>
				</p>
			</div>
		</li>
	</ul>
</div>
